/*.column {*/
/*    float: left;*/
/*    width: 50%;*/
/*}*/

/*.no-margin {*/
/*    margin: 0px;*/
/*    overflow: hidden;*/
/*}*/

/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

.gameplay-option-label {
    margin-right: 20px;
}

.key-binding-option {
    white-space: nowrap;
}

.accuracy-settings-section * {
    vertical-align: middle;
}