.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.p5Canvas {
    border-style: outset;
}

.gameplay-option-label {
    margin-right: 20px;
}